%p いらっしゃいませ。会員カードをスキャンして、「利用手続き開始」を押してください。

= form_with(url: terminal_login_path, local: true) do |f|
  = f.submit '利用手続き開始', class: 'btn btn-primary btn-bigger'

  %br
  %p
    = f.text_field 'id_1', size: 4, maxlength: 4
    \-
    = f.text_field 'id_2', size: 4, maxlength: 4
    \-
    = f.text_field 'id_3', size: 4, maxlength: 4
    \-
    = f.text_field 'id_4', size: 4, maxlength: 4

= button_tag '会員登録がお済みでないお客様はこちら', class: 'btn btn-success'
