= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :room_type
    = f.number_field :room_type
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
