!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreeKukan
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav{class: 'navbar navbar-dark bg-dark'}
        %span{class: 'navbar-brand mb-0 h1'} Free空間

    %div{class: 'container'}
      = yield

    - if flash[:alert]
      :coffee
        alert('error!')